*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'JetBrains Mono', monospace;
  }
.header{
    background: #000000;;
}
.what .header{
    background-color: #0d024b;
}
.types .header{
    background-color: #100458;
}
.causes .header{
    background-color:#230a91 ;
}
.symptoms .header{
    background-color: #4730ad;
}
.treatment .header{
    background-color: #6b56b6;
}
.prevent .header{
    background-color: #4648bd;
}
.facts .header{
    background-color:#8584e2 ;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 250px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: rgb(255, 255, 255);
}
p{
    color: #ffffff;
}
h4{
    color: #ffffff;
}
h2{
    color: #e01010;
}
.header p{
    text-align: center;
}
.what p{
    text-align: center;
}
.types p{
    text-align: center;
}
.types{
    border-radius: 50px;
    border:border-radius;
}
.causes{
    text-align: center;
}