.title{
    text-align: center;
    margin: 0 auto;
    position: relative;
    line-height: 60px;
    color: #c25ac2;
}
.header .title{
    color: #ffffff;
}
.title::after{
    content: '';
    background: #000000;
    width: 80px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.header .title::after {
    background: #ffffff;
}